:root {
  --main-color: rgb(145, 18, 18);
  --black: rgb(56, 0, 0);
  --bg: rgb(0, 0, 0);
  --border: 0.1rem solid rgba(175, 175, 175, 0.274);
}
* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.3s linear;
}

html {
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.8rem;
}

html::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 5rem;
}

body {
  background: var(--bg);
}

.header {
  background: var(--bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 6%;
  border-bottom: var(--border);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.header .logo img {
  height: 5rem;
}

.header .navbar a {
  margin: 0 0.5rem;
  font-size: 1rem;
  color: #fff;
}

.header .navbar.active {
  right: 0;
}

.header .navbar a:hover {
  color: var(--main-color);
  border-bottom: 0.2rem solid var(--main-color);
}

.header .icons div {
  color: #fff;
  cursor: pointer;
  font-size: 1.5rem;
  margin-left: 2rem;
}

.header .icons div:hover {
  color: var(--main-color);
}

#menu-btn {
  display: none;
}

.header .search-form {
  position: absolute;
  top: 115%;
  right: 1%;
  background: rgb(141, 141, 141);
  width: 25rem;
  height: 3rem;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
}

.header .search-form.active {
  transform: scaleY(1);
}

.header .search-form input {
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  color: var(--black);
  padding: 1rem;
  text-transform: none;
}

.header .search-form label {
  cursor: pointer;
  font-size: 1.5rem;
  margin-right: 0.4rem;
  color: var(--black);
  padding: 0.7rem;
  text-transform: none;
}

.header .search-form label:hover {
  color: var(--main-color);
}

.header .cart-items-container {
  position: absolute;
  top: 100%;
  right: -100%;
  height: calc(100vh - 9.5rem);
  width: 25rem;
  background: #fff;
  padding: 0 1.5rem;
}

.header .cart-items-container.active {
  right: 0;
}

.header .cart-items-container .cart-item {
  position: relative;
  margin: 2rem 0;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.header .cart-items-container .cart-item .fa-times {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  cursor: pointer;
  color: var(--black);
}

.header .cart-items-container .cart-item .fa-times:hover {
  color: var(--main-color);
}

.header .cart-items-container .cart-item img {
  height: 100px;
  width: 100px;
}

.header .cart-items-container .cart-item .content h3 {
  font-size: 1rem;
  color: var(--black);
  padding-bottom: 2rem;
}

.header .cart-items-container .cart-item .content .preço {
  font-size: 1rem;
  color: var(--main-color);
}

.header .cart-items-container .btn {
  width: 100%;
  text-align: center;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 1rem;
  font-size: 1.7rem;
  color: #fff;
  background: var(--main-color);
  cursor: pointer;
  border: none;
}

.btn:hover {
  letter-spacing: 0.3rem;
}

/* media */

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 1.5rem;
  }
  section {
    padding: 2rem 7%;
  }

  .home {
    background-position: center;
    justify-content: center;
    text-align: center;
  }

  .home .content h3 {
    font-size: 4.5rem;
  }

  .home .content p {
    font-size: 1.5rem;
  }
}

@media (max-width: 991px) {
  #menu-btn {
    display: inline-block;
  }

  .header .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    background: #fff;
    width: 30rem;
    height: calc(100vh - 9.5rem);
  }

  .header .navbar a {
    color: var(--black);
    display: block;
    margin: 1.7rem;
    padding: 2rem;
    font-size: 2rem;
  }

  .header .search-form {
    width: 90%;
    right: 2rem;
  }
}

.home {
  padding-top: 12rem;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(https://images.unsplash.com/photo-1536840362362-9241939f8874?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.home .content {
  max-width: 60rem;
}

.home .content h3 {
  font-size: 4rem;
  text-transform: uppercase;
  color: #fff;
}

.home .content p {
  font-size: 1rem;
  font-weight: lighter;
  line-height: 1.8;
  padding: 0.5rem 0;
  color: #fff;
}

section {
  padding: 2rem 7%;
}

/* sobre */

.heading {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 4rem;
  font-size: 2rem;
}

.heading span {
  color: var(--main-color);
  text-transform: uppercase;
}

.about .row {
  display: flex;
  align-items: center;
  background: var(--black);
  flex-wrap: wrap;
}

.about .row .image {
  flex: 1 1 36rem;
}
.about .row .image img {
  width: 100%;
}

.about .row .content {
  flex: 20rem;
  padding: 2rem;
}

.about .row .content h3 {
  font-size: 2.5rem;
  color: #fff;
  padding: 1rem;
  line-height: 1.8;
}

.about .row .content p {
  font-size: 1rem;
  color: #ccc;
  padding: 1rem 0;
  line-height: 1.8;
}

/* MENU */

.menu .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 3rem;
}

.menu .box-container .box {
  padding: 1rem;
  text-align: center;
  border: var(--border);
}

.menu .box-container .box img {
  height: 13rem;
}

.menu .box-container .box h3 {
  color: #fff;
  font-size: 1rem;
  padding: 1rem 0;
}

.menu .box-container .box .preço {
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem 0;
}

.menu .box-container .box .preço span {
  color: #fff;
  font-size: 1.5rem;
  text-decoration: line-through;
}

.menu .box-container .box:hover {
  background: rgb(70, 11, 11);
}

.menu .box-container .box:hover > * {
  color: #fff;
}

/* produtos */

.products .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
  gap: 1.5rem;
}

.products .box-container .box {
  text-align: center;
  border: var(--border);
  padding: 1rem;
}

.products .box-container .box .icons a {
  height: 3rem;
  width: 3rem;
  line-height: 3rem;
  font-size: 1rem;
  border: var(--border);
  color: #fff;
  margin: 0.5rem;
}

.products .box-container .box a:hover {
  background: var(--main-color);
}

.products .box-container .box .image {
  padding: 1.5rem 0;
}

.products .box-container .box .image img {
  height: 10rem;
}

.products .box-container .box .content h3 {
  color: #ffff;
  font-size: 2.5rem;
}

.products .box-container .box .content .stars {
  padding: 1.5rem;
}

.products .box-container .box .content .stars i {
  font-size: 1.7rem;
  color: var(--main-color);
}

.products .box-container .box .content .preço {
  color: #fff;
  font-size: 2rem;
}

.products .box-container .box .content .preço span {
  text-decoration: line-through;
  font-weight: lighter;
  font-size: 1rem;
}

/* review */

.review .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  gap: 1.5rem;
}

.review .box-container .box {
  border: var(--border);
  text-align: center;
  padding: 3rem 2rem;
}

.review .box-container .box p {
  font-size: 1rem;
  line-height: 1.8;
  color: #fff;
  padding: 2rem 0;
}

.review .box-container .box .user {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  object-fit: cover;
}

.review .box-container .box h3 {
  padding: 1rem 0;
  font-size: 1rem;
  color: #fff;
}

.review .box-container .box .stars i {
  font-size: 1.5rem;
  color: var(--main-color);
}

/* contato */

.contact .row {
  display: flex;
  align-items: center;
  background: var(--black);
  flex-wrap: wrap;
  gap: 1rem;
  border-radius: 30px;
}

.contact .row .map {
  flex: 1 1 40rem;
  width: 100%;
  object-fit: cover;
}

.contact .row form {
  flex: 1 1 30rem;
  padding: 2rem 2rem;
  text-align: center;
}

.contact .row form h3 {
  text-transform: uppercase;
  font-size: 3rem;
  color: #fff;
}

.contact .row form p {
  color: #fff;
  font-size: 1rem;
}

.contact .row form .inputbox {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background: var(--black);
  border: var(--border);
}

.contact .row form .inputbox span {
  color: #fff;
  font-size: 2rem;
  padding-left: 2rem;
}

.contact .row form .inputbox input {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  color: #fff;
  text-transform: none;
  background: none;
  border: none;
}

.blogs .box-container {
  gap: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.blogs .box-container .box {
  border: var(--border);
}

.blogs .box-container .box .image {
  height: 18rem;
  overflow: hidden;
  width: 100%;
}

.blogs .box-container .box .image img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.blogs .box-container .box:hover .image img {
  transform: scale(1.2);
}

.blogs .box-container .box .content {
  padding: 2rem;
}

.blogs .box-container .box .title {
  font-size: 2rem;
  line-height: 1.5;
  color: #fff;
}

.blogs .box-container .box .title:hover {
  color: var(--main-color);
}

.blogs .box-container .box .content span {
  color: var(--main-color);
  display: block;
  padding-top: 1rem;
  font-size: 1rem;
}

.blogs .box-container .box .content p {
  font-size: 1em;
  line-height: 1.8;
  color: #fff;
  padding: 1rem;
}

.footer {
  background: rgb(15, 15, 15);
  text-align: center;
}

.footer .shar {
  padding: 1rem 0;
}

.footer .shar a {
  height: 5rem;
  width: 5rem;
  font-size: 2rem;
  line-height: 5rem;
  color: #fff;
  border: var(--border);
  margin: 0.3rem;
  border-radius: 50%;
}

.footer .shar a:hover {
  color: var(--main-color);
}

.footer .links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 0;
  gap: 1rem;
}

.footer .links a {
  color: #fff;
  padding: 1rem 1rem;
  border: var(--border);
  font-size: 1rem;
}

.footer .links a:hover {
  background: var(--main-color);
}

.footer .credit {
  font-size: 1.3rem;
  color: #fff;
  font-weight: lighter;
  padding: 1.5rem;
}

.footer .credit span {
  color: var(--main-color);
}
